<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('fragments/seo') %>
    <title>About | Floods Donors Book</title>
    <%- include("fragments/fonts") %>
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <%- include('fragments/nav') %>
    <main>
        <section id="about">
            <h1>Who we are</h1>
            <div>
                <p>At <span class="org">Floods Donors Book</span>, we are a dedicated team of passionate individuals committed to making a positive impact in the world. Founded on the principles of compassion, integrity, and solidarity, we believe in the power of collective action to create meaningful change and alleviate suffering in times of crisis.</p>
                <p>With years of experience in humanitarian aid and disaster response, we have witnessed firsthand the devastating impact of natural disasters such as floods. Driven by a deep sense of empathy and a desire to make a difference, we have come together to support those affected by these emergencies and help rebuild their lives with dignity and resilience.</p>
                <p>Our team comprises experts from diverse backgrounds, including disaster management, community development, public health, engineering, and advocacy. Together, we bring a wealth of knowledge, skills, and expertise to our work, enabling us to respond swiftly and effectively to the needs of affected communities and address the underlying causes of vulnerability.</p>
                <p>We are guided by a commitment to transparency, accountability, and inclusivity in all aspects of our operations. We believe in listening to the voices of those we serve, respecting their rights and dignity, and empowering them to actively participate in the decision-making processes that affect their lives.</p>
                <p>At <span class="org">Floods Donors Book</span>, we are more than just a humanitarian organization; we are a movement for change. We invite you to join us in our mission to build a more just, equitable, and sustainable world, where every individual has the opportunity to thrive, regardless of the challenges they face. Together, we can make a difference.</p>
            </div>
        </section>
        <section id="hiw">
            <h1>How we work</h1>
            <section id="hiw-content">
                <article class="hiw">
                    <div class="img"><img src="/icons/assessment.png" alt=""></div>
                    <div class="content">
                        <h4>Needs Assessment</h4>
                        <p >Before taking action, we conduct thorough assessments to understand the specific needs of affected communities. Through on-the-ground surveys, consultations with local authorities, and data analysis, we gather vital information to inform our response efforts.</p>
                    </div>
                </article>
                <article class="hiw">
                    <div class="img"><img src="/icons/emergency.png" alt=""></div>
                    <div class="content">
                        <h4>Emergency Response</h4>
                        <p>In the immediate aftermath of a flood crisis, we swiftly mobilize to provide life-saving aid. This includes distributing emergency supplies such as food, clean water, shelter materials, and medical assistance to those in need. Our teams work tirelessly to reach the most vulnerable populations and ensure no one is left behind.</p>
                    </div>
                </article>
                <article class="hiw">
                    <div class="img"><img src="/icons/long-term.png" alt=""></div>
                    <div class="content">
                        <h4>Long-Term Recovery</h4>
                        <p >Recognizing the lasting impact of floods on communities, we remain committed to supporting long-term recovery efforts. This involves rebuilding infrastructure, restoring livelihoods, providing psychosocial support, and implementing disaster risk reduction measures to enhance resilience against future disasters.</p>
                    </div>
                </article>
                <article class="hiw">
                    <div class="img"><img src="/icons/accountability.png" alt=""></div>
                    <div class="content">
                        <h4>Transparency and Accountability</h4>
                        <p >Transparency is at the core of our operations. We uphold the highest standards of accountability, providing regular updates, financial reports, and impact assessments to our donors and stakeholders. We believe in building trust through openness and honesty in all our dealings.</p>
                    </div>
                </article>
                <article class="hiw">
                    <div class="img"><img src="/icons/collaboration.png" alt=""></div>
                    <div class="content">
                        <h4>Collaboration</h4>
                        <p >We understand the importance of collaboration in achieving meaningful impact. We forge partnerships with local organizations, governments, and other stakeholders to leverage resources, share expertise, and coordinate efforts effectively. Together, we amplify our collective impact and maximize support for flood-affected communities.</p>
                    </div>
                </article>
                <article class="hiw">
                    <div class="img"><img src="/icons/volunteer.png" alt=""></div>
                    <div class="content">
                        <h4>Volunteer Engagement</h4>
                        <p >We welcome volunteers who share our passion for making a difference. Whether it's lending a helping hand in distribution efforts, providing specialized skills, or raising awareness about the flood crisis, there are various ways for individuals to get involved and contribute to our cause.</p>
                    </div>
                </article>
            </section>
        </section>
    </main>
    <%- include('fragments/footer') %>
</body>
<style>
    main{
        margin-top: 100px;
    }

    #about h1{
        text-align: center;
        font-size: 2.5rem;
    }

    #about p{
        padding: 8px;
        color: rgb(173, 173, 173);
    }

    @media (min-width: 768px){
        #about{
            width: 80vw;
            margin: 24px auto;
        }
    }
</style>
<script>
    // navbar scroll
(() => {
    const nav = document.querySelector('nav');

    window.addEventListener('scroll', (e) => {
        if (scrollY > 50) {
            nav.classList.add("scrolled")
        } else {
            nav.classList.remove('scrolled')
        }
    })
})();
</script>

</html>