<footer>
    <ul>
        <li>
            <div class="brand">
                <img src="/logo192.png" alt="">
                <p>&copy; Floods Donors Book <%= new Date().getFullYear() %></p>
            </div>
        </li>
        <li>
            <a href="/news">News & Stories</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/hiw">How We Help</a>
        </li>
        <li>
            <a href="/donate">Donate</a>
        </li>
    </ul>
</footer>