<nav>
    <div class="brand">
        <a href="/"><img src="logo192.png" alt="Logo"></a>
    </div>
    <div class="links">
        <li>
            <a href="/about">
                <span class="mb-hidden">About</span>
                <span class="pc-hidden"><i class="fa-solid fa-circle-info"></i></span>
            </a>
        </li>
        <li>
            <a href="/hiw">
                <span class="mb-hidden">How we Help</span>
                <span class="pc-hidden"><i class="fa-solid fa-circle-question"></i></span>
            </a>
        </li>
        <li>
            <a href="/news">
                <span class="mb-hidden">News & Stories</span>
                <span class="pc-hidden"><i class="fa-regular fa-newspaper"></i></span>
            </a>
        </li>
    </div>
    <div class="nav-cta">
        <a href="/donate" class="donate">Donate</a>
    </div>
</nav>